{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Liste des entreprises
{%endblock%}
{%block body %}
<h1>Liste des entreprises</h1>

<table width="50%">
    <tr>
        <th>Nom des entreprises</th>
    </tr>

    {% for entreprise in entrepriseListe %}

        {% if entreprise.actif == true %}
        <tr>
            <td>{{ entreprise.libelle}}</td>
            <td><a href="{{ path('entreprise_edit', {'id' : entreprise.id}) }}" class="btn btn-warning">Modifier</a></td>
            <td><a href="{{path('entreprise_suppression',{'id' : entreprise.id}) }}" class="btn btn-danger"> Supprimer l'entreprise</a></td>
        </tr>
        </br>
        {%endif%}
    {% endfor %}

</table>

<a href="{{ path('index') }}" class="btn btn-default">Retour</a>
{%endblock%}
