<title>Modification du entreprise</title>
<h1><b>Modification d'un entreprise</b></h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('entreprise_consultation') }}">Retour à la liste</a>
<a href="{{ path('entreprise') }}">Accueil</a>
