{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Ajout d'un entreprise
{%endblock%}
{%block body %}
<style>
label
{
display: block;
}
</style>
<h2><b>Ajout d'un entreprise</b></h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<p>
{% for info in app.flashes('info') %}
    <div class="flash-notice">
        {{ info }}
    </div>
{% endfor %}
</p>

<a href="{{ path('entreprise') }}" class='btn btn-default'>Retour</a>
{%endblock%}
