{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Réactivation d'une entreprise
{%endblock%}
{%block body %}
<h1>Liste des entreprises supprimés</h1>

<table width="50%">


    <tr>
        <th>Nom de l'entreprise</th>
    </tr>

    {% for entreprise in entrepriseListe %}

        {% if entreprise.actif == false %}
        <tr>
            <td>{{ entreprise.libelle}}</td>
            <td></td>
            <td><a href="{{ path('entreprise_reactive', {'id' : entreprise.id}) }}" class="btn btn-success">Réactiver</a></td>

        </tr>
        {%endif%}
    {% endfor %}

</table>

<p>
{% for info in app.flashes('info') %}
    <div class="flash-notice">
        {{ info }}
    </div>
{% endfor %}
</p>

<a href="{{ path('entreprise') }}" class="btn btn-default">Retour</a>
{%endblock%}
