{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Liste des systèmes
{%endblock%}
{%block body %}
<h1>Liste des systèmes</h1>

<table width="100%">


    <tr>
        <th>Nom du système</th>
        <th></th>
        <th>URL</th>
        <th></th>
        <th>Etat</th>
    </tr>

    {% for system in systemListe %}
            {% if system.actif == true %}
            <tr>
                <td>{{ system.nom}}</td>
                <td></td>
                <td>{{ system.url }}</td>
                <td></td>
                {% if system.etat == "Online" %}
                <td><font color="green"><b>{{ system.etat }}</b></color></td>
                {%else%}
                <td><font color="red"><b>{{ system.etat }}</b></color></td>
                {%endif%}
                <td></td>
                <td><a href="{{ path('system_edit', {'id' : system.id}) }}" class="btn btn-warning">Modification du système</a></td>
                <td><a href="{{ path('system_suppression', {'id' : system.id}) }}" class="btn btn-danger">Suppression du système</a></td>
            </tr>
            {%endif%}
            {%endif%}
    {% endfor %}

</table>
<SCRIPT language="JavaScript">
window.location.reload()
</script>
<a href="{{ path('system') }}" class="btn btn-default">Retour</a>

{%endblock%}
