{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Liste des systèmes
{%endblock%}
{%block body %}
<h1>Liste des systèmes</h1>

<table width="80%">


    <tr>
        <th>Nom du système</th>
        <th></th>
        <th>URL</th>
    </tr>

    {% for system in systemListe %}

        {% if system.actif == true %}
        <tr>
            <td>{{ system.nom}}</td>
            <td></td>
            <td>{{ system.url }}</td>
            <td><a href="{{ path('system_edit', {'id' : system.id}) }}" class="btn btn-warning">Modification du système</a></td>
            <td><a href="{{ path('system_suppression', {'id' : system.id}) }}" class="btn btn-danger">Suppression du système</a></td>
        </tr>
        {%endif%}
    {% endfor %}

</table>

<a href="{{ path('system') }}" class="btn btn-default">Retour</a>
{%endblock%}
