<title>Modification du système</title>
<h1><b>Modification d'un système</b></h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('system_consultation') }}">Retour à la liste</a>
<a href="{{ path('system') }}">Accueil</a>
