{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{%block title %}
    {{parent()}} - Ajout d'un système
{%endblock%}
{%block body %}
<script type= "text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<style>
label
{
display: block;
}
</style>
<h2><b>Ajout d'un système</b></h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<p>
{% for info in app.flashes('info') %}
    <div class="flash-notice">
        {{ info }}
    </div>
{% endfor %}
</p>

<a href="{{ path('system') }}" class='btn btn-default'>Retour</a>
{%endblock%}
