{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Ajout d'un système
{%endblock%}
{%block body %}
<style>
label
{
display: block;
}
</style>
<h2><b>Ajout d'un système</b></h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('system') }}" class='btn btn-default'>Retour</a>
{%endblock%}
