{% extends "base.html.twig" %}
{%block title %}
    {{parent()}}
    - Liste des systèmes
    {%endblock%}
    {%block body %}
        <link rel="stylesheet" href="{{ asset('css/test.css') }}">
        <font color="white">
            <h1>Liste des systèmes</h1>
        </font>

        <div class="widget stacked widget-table action-table">
            <div class="widget-content">

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nom du système</th>
                            <th>URL</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for system in systemListe %}
                            {% if system.actif == true %}
                                <tr>
                                    <td>{{ system.nom}}</td>
                                    <td>{{ system.url }}</td>
                                    {% if system.etat == "Online" %}
                                        <td>
                                            <font color="green">
                                                <b>{{ system.etat }}</b>
                                            </color>
                                        </td>
                                        {%else%}
                                        <td>
                                            <font color="red">
                                                <b>{{ system.etat }}</b>
                                            </color>
                                        </td>
                                        {%endif%}
                                        <td>
                                            <a href="{{ path('system_edit', {'id' : system.id}) }}" class="btn btn-warning">
                                                <span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('system_delete', {'id' : system.id}) }}" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                    {%endif%}
                                {% endfor %}
                            </tbody>

                        </table>
                        {% for testRead in app.flashes('testRead') %}
                            <div class="visibility">{{ testRead }}</div>
                        {% endfor %}
                        <a href="{{ path('system_read') }}" class="btn btn-default">Retour</a>

                        {%endblock%}