<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>
<style>
label
{
display: block;
}
</style>
<title>

    Nexus Création - Demande d'enregistement
</title>
<body>
  <div id="header" class="jumbotron">
    <h2>Nexus Création</h2>
  </div>
  <div id="contenu">
      <center><h3>Identification utilisateur</h3>


    {% if error %}
        {% if error.messageKey|trans(error.messageData, 'admin') == "Invalid credentials."%}
          <div><font color="red"><b>Identifiant ou mot de passe invalide.</b></font></div>
          {%endif%}
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form.identifiant) }}
    {{ form_widget(form.password) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.tel) }}
    {{ form_end(form) }}

</div>
</body>
