<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<style>
label
{
display: block;
}
</style>
<title>

    Nexus Création - Demande d'enregistement
</title>
<body>
  <script src="{{ asset('js/script.js') }}"></script>
  <div id="header" class="jumbotron">
    <h2>Nexus Création</h2>
  </div>
  <div id="contenu">
      <center><h3>Identification utilisateur</h3>

    {{ form_start(form) }}

    {{ form_widget(form.identifiant) }}
    <input type="text" id="form_identifiant"  name="form[identifiant]" placeholder="Identifiant" required class="form-control input-lg"/>
    {{ form_widget(form.password) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.tel) }}
    {{ form_end(form) }}

</div>
</body>
