{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Liste des utilisateurs
{%endblock%}
{%block body %}
<link rel="stylesheet" href="{{ asset('css/test.css') }}">
<div class="span7">

<h1><font color="white">Liste des utilisateurs</font></h1>

<div class="widget stacked widget-table action-table">
				<div class="widget-content">

					<table class="table table-striped table-bordered">
						<thead>
            <tr>
                <th>Identifiant</th>
                
                <th>Téléphone</th>
                <th>E-maill</th>
                
                <th>Date connexion</th>
                <th>Date deconnexion</th>
            </tr>
						</thead>
						<tbody>

            {% for user in userListe %}
                {% if user.actif == false and user.dateConnexion == null and user.dateDeconnexion == null %}
                    <tr>

                        <td>{{ user.identifiant}}</td>
                        <td>{{ user.Tel }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{user.dateConnexion|date("Y-m-d H:i:s")}}</td>
                        <td>{{user.dateDeconnexion|date("Y-m-d H:i:s")}}</td>
                        <td><a href="{{ path('user_actApprouve', {'id' : user.id}) }}" class="btn btn-success">Activer</a></td>
                        <td><a href="{{ path('user_suppressionDef', {'id' : user.id}) }}" class="btn btn-danger">Décliner</a></td>

                    </tr>
                {% endif %}

    {% endfor %}

</table>
<a href="{{ path('user') }}" class="btn btn-default">Retour</a>
{%endblock%}

