{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Liste des utilisateurs
{%endblock%}
{%block body %}
<h1>Liste des utilisateurs</h1>

<table width="150%">


    <tr>
        <th>Identifiant</th>
        <th></th>
        <th>Role</th>
        <th></th>
        <th>Téléphone</th>
        <th></th>
        <th>E-maill</th>
        <th></th>
        <th>Entreprise</th>
        <th></th>
        <th>Date connexion</th>
        <th></th>
        <th>Date deconnexion</th>
        <th></th>
    </tr>

    {% for user in userListe %}
        {% if user.actif == true %}
            <tr>

                <td>{{ user.identifiant}}</td>
                <td></td>
                <td>{{ user.role.nomRole }}</td>
                <td></td>
                <td>{{ user.Tel }}</td>
                <td></td>
                <td>{{ user.email }}</td>
                <td></td>
                <td>{{ user.entreprise.libelle }}</td>
                <td></td>
                <td>{{user.dateConnexion|date("Y-m-d H:i:s")}}</td>
                <td></td>
                <td>{{user.dateDeconnexion|date("Y-m-d H:i:s")}}</td>
                <td></td>
                <td><a href="{{path('user_edit',{'id' : user.id}) }}"class="btn btn-warning"> Modification l'utilisateur</a></td>
                <td></td>
                <td><a href="{{path('user_suppression',{'id' : user.id}) }}"class="btn btn-danger"> Supprimer l'utilisateur</a></td>

            </tr>
        {% endif %}

    {% endfor %}

</table>

<a href="{{ path('user') }}" class="btn btn-default">Retour</a>
{%endblock%}
