

<h1>Liste des utilisateurs</h1>

<table>

    
    <tr>
        <th>Identifiant</th>
        <th>Role</th>
        <th>Téléphone</th>
        <th>E-maill</th>
        <th>Date connexion</th>
        <th>Date deconnexion</th>
    </tr>

    {% for user in userListe %}
        {% if user.actif == true %}
            <tr>

                <td>{{ user.identifiant}}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.Tel }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.dateConnexion|date("m/d/y")}}</td>
                <td>{{user.dateDeconnexion|date("m/d/y")}}</td>
                <td><a href="{{path('user_edit',{'id' : user.id}) }}"> Modification des paramètre de l'utilisateur
                <td><a href="{{path('user_suppression',{'id' : user.id}) }}"> Supprimer l'utilisateur

            </tr>
        {% endif %}

    {% endfor %}
    
<a href="{{ path('user') }}">Retour</a>

</table>