{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Liste des utilisateurs
{%endblock%}
{%block body %}
<h1>Liste des utilisateurs</h1>

<table>


    <tr>
        <th>Identifiant</th>
        <th>Role</th>
        <th>Date connexion</th>
        <th>Date deconnexion</th>
    </tr>

    {% for user in userListe %}
        {% if user.actif == true %}
            <tr>

                <td>{{ user.identifiant}}</td>
                <td>{{ user.role }}</td>
                <td>{{user.dateConnexion|date("m/d/y")}}</td>
                <td>{{user.dateDeconnexion|date("m/d/y")}}</td>
                <td><a href="{{path('user_edit',{'id' : user.id}) }}"> Modification des paramètre de l'utilisateur
                <td><a href="{{path('user_suppression',{'id' : user.id}) }}"> Supprimer l'utilisateur

            </tr>
        {% endif %}

    {% endfor %}

</table>
{%endblock%}
