{% extends "base.html.twig" %}
{%block title %}
    {{parent()}} - Modification utilisateur 
{%endblock%}
{%block body %}

<h1><b>Modification utilisateur : </b></h1>

{{ form_start(form)}}
{{ form_widget(form)}}
{{ form_end(form)}}

<a href="{{ path('user_consultation') }}" class="btn btn-default">Retour à la liste</a>
<a href="{{ path('user') }}" class="btn btn-info">Accueil</a>
{%endblock%}