{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{%block title %}
    {{parent()}} - Ajout d'un utilisateur
{%endblock%}
{%block body%}
<style>
label
{
display: block;
}
</style>
<h2><b><font color="white">Ajout d'un nouvel utilisateur</font></b></h2>
</br>
<body>
        <section class="login-form">
                {{form_start(form,{ 'attr': {'role': 'login'} })}}
                {{form_row(form.identifiant,{ 'attr': {'class': 'form-control input-lg'} })}}
                {{form_row(form.password,{ 'attr': {'class': 'form-control input-lg'} })}}
                {{form_row(form.email,{ 'attr': {'class': 'form-control input-lg'} })}}
                {{form_row(form.tel,{ 'attr': {'class': 'form-control input-lg'} })}}
                {{form_row(form.entreprise,{ 'attr': {'class': 'form-control input-lg'} })}}
                {{form_row(form.role,{ 'attr': {'class': 'form-control input-lg'} })}}
                <a href="{{ path('user_read') }}" class="btn btn-default">Retour à la liste</a>
                <button type="submit" id="form_save"  name="form[save]" class="btn btn-info">Confirmer l'ajout</button>
                <p>
                    {% for info in app.flashes('info') %}
                        <div class="flash-notice">
                            {{ info }}
                        </div>
                    {% endfor %}
                 </p>

                {{form_end(form)}}
              </section>
            </body>
<p>
{% for info in app.flashes('info') %}
    <div class="flash-notice">
        {{ info }}
    </div>
{% endfor %}
</p>

{%endblock%}
